RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^posts/?$ posts.php [L,QSA]
RewriteRule ^posts/category/(.+)$ posts.php?category=$1 [L,QSA,B]
RewriteRule ^posts/(.+)$ posts.php?id=$1 [L,QSA,B]
